@import "reset";

body {
	background:#051e06;
	//background:#0a062e;	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.canvas-wrapper {
	display:block;
	margin:50px auto;
	position:relative;
}

.graphics-wrapper {
	position:relative;
}

.canvas {
	display:block;
	top:0px;

	&--background {
		z-index:1;
		position:relative;
	}

	&--static {
		z-index:2;
		position:absolute;
	}	

	&--animation {
		z-index:3;
		position:absolute;
	}

	&--text {
		z-index:4;
		position:absolute;
		cursor:pointer;
		display:none;
		&.show {
			display:block;
		}
	}	
}

.stats {
	box-sizing: border-box;
	display:block;
	position:relative;
	width:100%;
}

.timer {
	box-sizing: border-box;
	display:block;
	width:100%;
}