.grid__0-0 {
  left: 0px;
  top: 0px;
}
.grid__0-1 {
  left: 0px;
  top: 56px;
}
.grid__0-2 {
  left: 0px;
  top: 112px;
}
.grid__0-3 {
  left: 0px;
  top: 168px;
}
.grid__0-4 {
  left: 0px;
  top: 224px;
}
.grid__0-5 {
  left: 0px;
  top: 280px;
}
.grid__0-6 {
  left: 0px;
  top: 336px;
}
.grid__0-7 {
  left: 0px;
  top: 392px;
}
.grid__0-8 {
  left: 0px;
  top: 448px;
}
.grid__0-9 {
  left: 0px;
  top: 504px;
}
.grid__0-10 {
  left: 0px;
  top: 560px;
}
.grid__0-11 {
  left: 0px;
  top: 616px;
}
.grid__0-12 {
  left: 0px;
  top: 672px;
}
.grid__1-0 {
  left: 56px;
  top: 0px;
}
.grid__1-1 {
  left: 56px;
  top: 56px;
}
.grid__1-2 {
  left: 56px;
  top: 112px;
}
.grid__1-3 {
  left: 56px;
  top: 168px;
}
.grid__1-4 {
  left: 56px;
  top: 224px;
}
.grid__1-5 {
  left: 56px;
  top: 280px;
}
.grid__1-6 {
  left: 56px;
  top: 336px;
}
.grid__1-7 {
  left: 56px;
  top: 392px;
}
.grid__1-8 {
  left: 56px;
  top: 448px;
}
.grid__1-9 {
  left: 56px;
  top: 504px;
}
.grid__1-10 {
  left: 56px;
  top: 560px;
}
.grid__1-11 {
  left: 56px;
  top: 616px;
}
.grid__1-12 {
  left: 56px;
  top: 672px;
}
.grid__2-0 {
  left: 112px;
  top: 0px;
}
.grid__2-1 {
  left: 112px;
  top: 56px;
}
.grid__2-2 {
  left: 112px;
  top: 112px;
}
.grid__2-3 {
  left: 112px;
  top: 168px;
}
.grid__2-4 {
  left: 112px;
  top: 224px;
}
.grid__2-5 {
  left: 112px;
  top: 280px;
}
.grid__2-6 {
  left: 112px;
  top: 336px;
}
.grid__2-7 {
  left: 112px;
  top: 392px;
}
.grid__2-8 {
  left: 112px;
  top: 448px;
}
.grid__2-9 {
  left: 112px;
  top: 504px;
}
.grid__2-10 {
  left: 112px;
  top: 560px;
}
.grid__2-11 {
  left: 112px;
  top: 616px;
}
.grid__2-12 {
  left: 112px;
  top: 672px;
}
.grid__3-0 {
  left: 168px;
  top: 0px;
}
.grid__3-1 {
  left: 168px;
  top: 56px;
}
.grid__3-2 {
  left: 168px;
  top: 112px;
}
.grid__3-3 {
  left: 168px;
  top: 168px;
}
.grid__3-4 {
  left: 168px;
  top: 224px;
}
.grid__3-5 {
  left: 168px;
  top: 280px;
}
.grid__3-6 {
  left: 168px;
  top: 336px;
}
.grid__3-7 {
  left: 168px;
  top: 392px;
}
.grid__3-8 {
  left: 168px;
  top: 448px;
}
.grid__3-9 {
  left: 168px;
  top: 504px;
}
.grid__3-10 {
  left: 168px;
  top: 560px;
}
.grid__3-11 {
  left: 168px;
  top: 616px;
}
.grid__3-12 {
  left: 168px;
  top: 672px;
}
.grid__4-0 {
  left: 224px;
  top: 0px;
}
.grid__4-1 {
  left: 224px;
  top: 56px;
}
.grid__4-2 {
  left: 224px;
  top: 112px;
}
.grid__4-3 {
  left: 224px;
  top: 168px;
}
.grid__4-4 {
  left: 224px;
  top: 224px;
}
.grid__4-5 {
  left: 224px;
  top: 280px;
}
.grid__4-6 {
  left: 224px;
  top: 336px;
}
.grid__4-7 {
  left: 224px;
  top: 392px;
}
.grid__4-8 {
  left: 224px;
  top: 448px;
}
.grid__4-9 {
  left: 224px;
  top: 504px;
}
.grid__4-10 {
  left: 224px;
  top: 560px;
}
.grid__4-11 {
  left: 224px;
  top: 616px;
}
.grid__4-12 {
  left: 224px;
  top: 672px;
}
.grid__5-0 {
  left: 280px;
  top: 0px;
}
.grid__5-1 {
  left: 280px;
  top: 56px;
}
.grid__5-2 {
  left: 280px;
  top: 112px;
}
.grid__5-3 {
  left: 280px;
  top: 168px;
}
.grid__5-4 {
  left: 280px;
  top: 224px;
}
.grid__5-5 {
  left: 280px;
  top: 280px;
}
.grid__5-6 {
  left: 280px;
  top: 336px;
}
.grid__5-7 {
  left: 280px;
  top: 392px;
}
.grid__5-8 {
  left: 280px;
  top: 448px;
}
.grid__5-9 {
  left: 280px;
  top: 504px;
}
.grid__5-10 {
  left: 280px;
  top: 560px;
}
.grid__5-11 {
  left: 280px;
  top: 616px;
}
.grid__5-12 {
  left: 280px;
  top: 672px;
}
.grid__6-0 {
  left: 336px;
  top: 0px;
}
.grid__6-1 {
  left: 336px;
  top: 56px;
}
.grid__6-2 {
  left: 336px;
  top: 112px;
}
.grid__6-3 {
  left: 336px;
  top: 168px;
}
.grid__6-4 {
  left: 336px;
  top: 224px;
}
.grid__6-5 {
  left: 336px;
  top: 280px;
}
.grid__6-6 {
  left: 336px;
  top: 336px;
}
.grid__6-7 {
  left: 336px;
  top: 392px;
}
.grid__6-8 {
  left: 336px;
  top: 448px;
}
.grid__6-9 {
  left: 336px;
  top: 504px;
}
.grid__6-10 {
  left: 336px;
  top: 560px;
}
.grid__6-11 {
  left: 336px;
  top: 616px;
}
.grid__6-12 {
  left: 336px;
  top: 672px;
}
.grid__7-0 {
  left: 392px;
  top: 0px;
}
.grid__7-1 {
  left: 392px;
  top: 56px;
}
.grid__7-2 {
  left: 392px;
  top: 112px;
}
.grid__7-3 {
  left: 392px;
  top: 168px;
}
.grid__7-4 {
  left: 392px;
  top: 224px;
}
.grid__7-5 {
  left: 392px;
  top: 280px;
}
.grid__7-6 {
  left: 392px;
  top: 336px;
}
.grid__7-7 {
  left: 392px;
  top: 392px;
}
.grid__7-8 {
  left: 392px;
  top: 448px;
}
.grid__7-9 {
  left: 392px;
  top: 504px;
}
.grid__7-10 {
  left: 392px;
  top: 560px;
}
.grid__7-11 {
  left: 392px;
  top: 616px;
}
.grid__7-12 {
  left: 392px;
  top: 672px;
}
.grid__8-0 {
  left: 448px;
  top: 0px;
}
.grid__8-1 {
  left: 448px;
  top: 56px;
}
.grid__8-2 {
  left: 448px;
  top: 112px;
}
.grid__8-3 {
  left: 448px;
  top: 168px;
}
.grid__8-4 {
  left: 448px;
  top: 224px;
}
.grid__8-5 {
  left: 448px;
  top: 280px;
}
.grid__8-6 {
  left: 448px;
  top: 336px;
}
.grid__8-7 {
  left: 448px;
  top: 392px;
}
.grid__8-8 {
  left: 448px;
  top: 448px;
}
.grid__8-9 {
  left: 448px;
  top: 504px;
}
.grid__8-10 {
  left: 448px;
  top: 560px;
}
.grid__8-11 {
  left: 448px;
  top: 616px;
}
.grid__8-12 {
  left: 448px;
  top: 672px;
}
.grid__9-0 {
  left: 504px;
  top: 0px;
}
.grid__9-1 {
  left: 504px;
  top: 56px;
}
.grid__9-2 {
  left: 504px;
  top: 112px;
}
.grid__9-3 {
  left: 504px;
  top: 168px;
}
.grid__9-4 {
  left: 504px;
  top: 224px;
}
.grid__9-5 {
  left: 504px;
  top: 280px;
}
.grid__9-6 {
  left: 504px;
  top: 336px;
}
.grid__9-7 {
  left: 504px;
  top: 392px;
}
.grid__9-8 {
  left: 504px;
  top: 448px;
}
.grid__9-9 {
  left: 504px;
  top: 504px;
}
.grid__9-10 {
  left: 504px;
  top: 560px;
}
.grid__9-11 {
  left: 504px;
  top: 616px;
}
.grid__9-12 {
  left: 504px;
  top: 672px;
}
.grid__10-0 {
  left: 560px;
  top: 0px;
}
.grid__10-1 {
  left: 560px;
  top: 56px;
}
.grid__10-2 {
  left: 560px;
  top: 112px;
}
.grid__10-3 {
  left: 560px;
  top: 168px;
}
.grid__10-4 {
  left: 560px;
  top: 224px;
}
.grid__10-5 {
  left: 560px;
  top: 280px;
}
.grid__10-6 {
  left: 560px;
  top: 336px;
}
.grid__10-7 {
  left: 560px;
  top: 392px;
}
.grid__10-8 {
  left: 560px;
  top: 448px;
}
.grid__10-9 {
  left: 560px;
  top: 504px;
}
.grid__10-10 {
  left: 560px;
  top: 560px;
}
.grid__10-11 {
  left: 560px;
  top: 616px;
}
.grid__10-12 {
  left: 560px;
  top: 672px;
}
.grid__11-0 {
  left: 616px;
  top: 0px;
}
.grid__11-1 {
  left: 616px;
  top: 56px;
}
.grid__11-2 {
  left: 616px;
  top: 112px;
}
.grid__11-3 {
  left: 616px;
  top: 168px;
}
.grid__11-4 {
  left: 616px;
  top: 224px;
}
.grid__11-5 {
  left: 616px;
  top: 280px;
}
.grid__11-6 {
  left: 616px;
  top: 336px;
}
.grid__11-7 {
  left: 616px;
  top: 392px;
}
.grid__11-8 {
  left: 616px;
  top: 448px;
}
.grid__11-9 {
  left: 616px;
  top: 504px;
}
.grid__11-10 {
  left: 616px;
  top: 560px;
}
.grid__11-11 {
  left: 616px;
  top: 616px;
}
.grid__11-12 {
  left: 616px;
  top: 672px;
}
.grid__12-0 {
  left: 672px;
  top: 0px;
}
.grid__12-1 {
  left: 672px;
  top: 56px;
}
.grid__12-2 {
  left: 672px;
  top: 112px;
}
.grid__12-3 {
  left: 672px;
  top: 168px;
}
.grid__12-4 {
  left: 672px;
  top: 224px;
}
.grid__12-5 {
  left: 672px;
  top: 280px;
}
.grid__12-6 {
  left: 672px;
  top: 336px;
}
.grid__12-7 {
  left: 672px;
  top: 392px;
}
.grid__12-8 {
  left: 672px;
  top: 448px;
}
.grid__12-9 {
  left: 672px;
  top: 504px;
}
.grid__12-10 {
  left: 672px;
  top: 560px;
}
.grid__12-11 {
  left: 672px;
  top: 616px;
}
.grid__12-12 {
  left: 672px;
  top: 672px;
}
body {
  background: #0a2e06;
}
.canvas {
  width: 732px;
  height: 732px;
  display: block;
  margin: 20px auto;
}
.grid {
  width: 100%;
  height: 100%;
  background-image: url('../img/background.png');
  position: relative;
}
.tile--wall {
  width: 56px;
  height: 56px;
  display: block;
  background: url('../img/sprites.png') 0 0 no-repeat;
  position: absolute;
}
